header,ul {
	width:100%
}
html,p,ul,h3,h1,h2,h4{
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
	text-decoration:none;
}
body {
	margin:0 auto;
}
textarea {
	resize:none;
	line-height:25px;
}
.select-ul {
	height:0;
	transition:all .3s ease;
	-webkit-transition:all .3s ease;
	overflow-y:scroll;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	text-align:center;
	background-color:#fff;
	font-size:13px;
	border-radius:.25rem;
	z-index:99999999999;
}
.select-ul li {
	padding:.25rem 0;
	cursor:pointer
}
.select-ul li:not(:last-child) {
	border-bottom:1px solid #ccc;
	border-bottom:.0625rem solid #ccc
}
::-webkit-input-placeholder {
	font-family:'Microsoft YaHei'
}
::-moz-placeholder {
	font-family:'Microsoft YaHei'
}
:-ms-input-placeholder {
	font-family:'Microsoft YaHei'
}
:-moz-placeholder {
	font-family:'Microsoft YaHei'
}
header {
	height:45px;
	height:2.8125rem;
	line-height:45px;
	line-height:2.8125rem;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	display:none
}
.menu-mask{
	background-color: #fff;
	position: relative;
	transition: all .7s cubic-bezier(.125, .805, .82, 1.275);
	opacity: 0;
	transform: scale(0,0) translate3d(100%, -100%,0);
}
.menu-row{
	width: 80%;
	z-index: 100000;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.repair-title{
	margin-bottom: .9375rem;
	h3{
		margin-bottom: .9375rem;
	}
}
.menu-li{
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 1.25rem;
	a{
		color: #666;
		font-size: .875rem;
	}
	img{
		width: 4.0rem;
	}
	p{
		margin-bottom: .3125rem;
	}
	span{
		color: #999;
		font-size: .625rem;
	}
}
.loading {
	height:3rem;
	width:3rem;
	background:url(img/loading.png) center center;
	background-size:cover;
	margin:3% auto;
	animation:load .5s linear infinite;
}
.nav-ul {
	position:absolute;
	top:0;
	left:0;
	margin-left:-100%;
	height:100%;
	transition:all .3s ease;
	transform:translate3d(0,0,0);
	z-index:1
}
.nav-ul li {
	float:left;
	width:25%;
	text-align:center
}
.nav-ul li a {
	color:#fff;
	font-size:.875rem
}
.repair-row{
	padding: .9375rem 0;
}
.repair-data {
	width:450px;
	margin-left:auto;
	margin-right:auto;
	border:.0625rem solid #ccc;
	border-radius:.5rem;
	color:#4d6076;
	padding-bottom:.625rem;
	padding-top:.625rem
}
.menu-icon {
	position: fixed;
	right: 5%;
	top: 3%;
	height: 2.1875rem;
	width: 2.1875rem;
	border-radius: 50%;
	background-color:rgba(0,0,0,.8);
	animation:wobble 1s .2s linear infinite;
}
.icon-line-row{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.icon-line{	
	display: block;
	height: .1875rem;
	width: 1.125rem;
	background: #fff;
	margin-left:auto;
	margin-right: auto;
	border-top-right-radius: .3125rem;
	border-bottom-right-radius: .3125rem;
	border-top-left-radius: .3125rem;
	border-bottom-left-radius: .3125rem;
}
.menu-icon .icon-line:not(:last-child){
	margin-bottom: 3px;
}
.body {
	position:relative;
	width: 100%;
	overflow: hidden;
}
body .index-mask{
	background: #fafafa;
	z-index:99999999999999999
}
.banner {
	width:100%;
	position:absolute;
	background-color: #fafafa;
	transition: all .4s ease-in-out;
	transform: translate3d(0, 0, 0);
	overflow-x: hidden;
}
.banner>div{
	width: 100%;
	height: 100%;
}
.first{
	background:url(img/8.jpg) center center no-repeat;
	background-size:cover;
}
.second{
	background-color: #ededed;
}
.banner-exp,.warm-label {
	position:absolute;
	left:50%
}
.white{
	color:#fff;
}
.banner-exp {
	white-space:nowrap;
	margin-left:auto;
	margin-right:auto;
	line-height:50px;
	line-height:3.125rem;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%)
}
.banner-title {
	font-size:2.5rem
}
.banner-span {
	text-align:right;
	font-size:1.25rem
}
.logo{
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 15%;
}

.mediun-font{
	font-size: 1.375rem;
}
.little-font{
	font-size: 0.75rem;
}
.next-tip{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1%;
	white-space: nowrap;
	p{
		margin-bottom: 0.625rem;
	}
}
.next-icon{
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	animation: downHide 1.4s ease-in-out infinite;
}
.next-icon-line{
	width: 100%;
	height: 100%;
	border-left: 0.125rem solid #fff;
	border-bottom: 0.125rem solid #fff;
	transform: rotate(-45deg);
}
/* 第二个模块 */
.second-row{
	width: 50%;
	float: left;
	height:inherit;
	position: relative;
}
.font-color{
	color: #4d6076;
}
.second-icon{
	height: 300px;
	width: 300px;
	background: url(img/second.png) no-repeat center center;
}
.iconAni{
	animation-name: rollIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-delay: .5s;
}
.study-row,.second-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
.title-in {
	animation:titleIn 1s .2s ease;
	-webkit-animation:titleIn 1s .2s ease
}
.study{
	cursor: pointer;
	text-align: right;
	transform: translate3d(0,0,0);
}
.studyAni{
	animation-name: fadeInRight;
	animation-duration: .6s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
/* 第四个 */
.four{
	background-color: #428bca;
}
.desk{
	background: url(img/desk.png) no-repeat center center;
	height: inherit;
	width: 100%;
}
.warm-label {
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	width:90%;
	font-size:.75rem;
	bottom:-.9375rem;
	color:red
}
.lf-name{
	margin-left: 10px;
	line-height: 1;
}	
.lf-title{
	font-size: 28px;
	margin-bottom: 10px;
}
.lf-p{
	margin-top: 20px;
	line-height: 25px;
	font-size: 16px;
	p{
		white-space: initial;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
}
.index .static{
	transform: rotate(90deg);
	z-index: 0;
}
body .flatpickr-calendar {
	top:0;
	left:0
}
.query-data .table{
	width: 600px;
	font-size: 0.75rem;
}
.query-data td{
	position: relative;
}
.query-dialog{
	margin-bottom: 10px;	
}
.query-canel{
	line-height: 2.5rem;
}
/* 动画 */
@keyframes wobble{
0%{transform:translate3d(0%,0,0)}
15%{transform:translate3d(-25%,0,0) rotate(-5deg)}
30%{transform:translate3d(20%,0,0) rotate(3deg)}
45%{transform:translate3d(-15%,0,0) rotate(-3deg)}
60%{transform:translate3d(10%,0,0) rotate(2deg)}
75%{transform:translate3d(-5%,0,0) rotate(-1deg)}
100%{transform:translate3d(0%,0,0)}
}
@keyframes titleIn {
	from {
	-webkit-transform:scale(1,.1) rotateX(0);
	transform:scale(1,.1) rotateX(0)
}
to {
	-webkit-transform:scale(1,1) rotateX(360deg);
	transform:scale(1,1) rotateX(360deg);
}
}
@keyframes load {
	from {
	-webkit-transform:rotate(0) translateZ(0);
	transform:rotate(0) translateZ(0);
}
to {
	-webkit-transform:rotate(360deg) translateZ(0);
	transform:rotate(360deg) translateZ(0);
}
}
@keyframes fadeInRight{
	0%{opacity:0;
	-webkit-transform:translateX(20px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}
	}
@-webkit-keyframes fadeInRight{
	0%{opacity:0;
	-webkit-transform:translateX(20px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}
}
@-webkit-keyframes rollIn{
	0%{opacity:0;
	-webkit-transform:translate(-100%,-50%) rotate(-120deg)}
	100%{opacity:1;
	-webkit-transform:translate(-50%,-50%) rotate(0deg)}
}
@keyframes rollIn{
	0%{opacity:0;
	-webkit-transform:translate(-100%,-50%) rotate(-120deg)}
	100%{opacity:1;
	-webkit-transform:translate(-50%,-50%) rotate(0deg)}
}

/* 媒体查询 */
@media only screen and (max-width:447px) {
	.banner-title {
		font-size:1.75rem
	}
	.banner-span {
		font-size:.875rem
	}
}
@media only screen and (max-width:768px) {
	header {
		display:block
	}
	.next-icon{
		display: none;
	}
	.second-row{
		width: 100%;
		position: absolute;
	}
	.second-right{
		z-index: 1;
	}
	.second-left{
		opacity: .2;
	}
}
@media only screen and (min-width:768px) {
	.head-guide {
		margin-left:-100%
	}
	.nav-ul {
		margin-left:0
	}
}
@media only screen and (min-width:360px) {
	.login-data,.repair-data {
		width:20rem
	}
}
@media only screen and (max-width:320px) {
	.login-data,.repair-data {
		width:18.75rem
	}
	.banner-title {
		font-size:1.55rem
	}
}
@media only screen and (max-width:480px) {
	.index{
		overflow-x:hidden; 
		width: 100%;
	}
	.banner{
		transform-origin:bottom right;
		transform: rotate(0deg) translateZ(0);
		transition: all 1s cubic-bezier(.175, .885, .32, 1.275);
	}
	.body{
		width: 100%;
		overflow: hidden;
	}
}