header,ul {
	width:100%
}
html,p,ul,h3,h1,h2,h4{
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
	text-decoration:none;
}
body {
	margin:0 auto;
}
textarea {
	resize:none;
	line-height:25px;
	line-height:1.5625rem
}
.select-ul {
	height:0;
	transition:all .3s ease;
	-webkit-transition:all .3s ease;
	overflow:hidden;
	position:absolute;
	left:50%;
	overflow-y: scroll;
	transform:translateX(-50%);
	text-align:center;
	background-color:#fff;
	font-size:13px;
	font-size:.8125rem;
	border-radius:.25rem;
	z-index:999
}
.select-ul li {
	padding:.25rem 0;
	cursor:pointer
}
.select-ul li:not(:last-child) {
	border-bottom:1px solid #ccc;
	border-bottom:.0625rem solid #ccc
}
::-webkit-input-placeholder {
	font-family:'Microsoft YaHei'
}
::-moz-placeholder {
	font-family:'Microsoft YaHei'
}
:-ms-input-placeholder {
	font-family:'Microsoft YaHei'
}
:-moz-placeholder {
	font-family:'Microsoft YaHei'
}
header {
	height:45px;
	height:2.8125rem;
	line-height:45px;
	line-height:2.8125rem;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	display:none
}
.menu-mask{
	background-color: #fff;
	position: relative;
	transition: all .7s cubic-bezier(.125, .805, .82, 1.275);
	opacity: 0;
	transform: scale(0,0) translate3d(100%, -100%,0);
}
.menu-row{
	width: 80%;
	z-index: 100000;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.repair-title{
	margin-bottom: .9375rem;
	h3{
		margin-bottom: .9375rem;
	}
}
.menu-li{
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 1.25rem;
	a{
		color: #666;
		font-size: .875rem;
	}
	img{
		width: 4.0rem;
	}
	p{
		margin-bottom: .3125rem;
	}
	span{
		color: #999;
		font-size: .625rem;
	}
}
.loading {
	height:3rem;
	width:3rem;
	background:url(img/loading.png) center center;
	background-size:cover;
	margin:3% auto;
	animation:load .5s linear infinite;
}
.nav-ul {
	position:absolute;
	top:0;
	left:0;
	margin-left:-100%;
	height:100%;
	transition:all .3s ease;
	transform:translate3d(0,0,0);
	z-index:1
}
.nav-ul li {
	float:left;
	width:25%;
	text-align:center
}
.nav-ul li a {
	color:#fff;
	font-size:14px;
	font-size:.875rem
}
.repair-row{
	padding: .9375rem 0;
}
.repair-data {
	width:450px;
	width:28.125rem;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #ccc;
	border:.0625rem solid #ccc;
	border-radius:.5rem;
	color:#4d6076;
	padding-bottom:.625rem;
	padding-top:.625rem
}
.menu-icon {
	position: fixed;
	right: 5%;
	top: 3%;
	height: 2.1875rem;
	width: 2.1875rem;
	border-radius: 50%;
	background-color:rgba(0,0,0,.8);
	animation:wobble 1s .2s linear infinite;
}
.icon-line-row{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.icon-line{	
	display: block;
	height: .1875rem;
	width: 1.125rem;
	background: #fff;
	margin-left:auto;
	margin-right: auto;
	border-top-right-radius: .3125rem;
	border-bottom-right-radius: .3125rem;
	border-top-left-radius: .3125rem;
	border-bottom-left-radius: .3125rem;
}
.menu-icon .icon-line:not(:last-child){
	margin-bottom: 3px;
}
.body {
	position:relative;
}
body .index-mask{
	background: #fafafa;
	z-index:99999999999999999
}
.banner {
	width:100%;
	position:relative;
	background-color: #fafafa;
}
.first{
	width: 100%;
	height: 100%;
	background:url(img/8.jpg) center center no-repeat;
	background-size:cover;
}
.banner-exp,.warm-label {
	position:absolute;
	left:50%
}
.banner-exp {
	color:#fff;
	white-space:nowrap;
	margin-left:auto;
	margin-right:auto;
	line-height:50px;
	line-height:3.125rem;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%)
}
.banner-title {
	font-size:40px;
	font-size:2.5rem
}
.banner-span {
	text-align:right;
	font-size:20px;
	font-size:1.25rem
}
.title-in {
	animation:titleIn 1s .2s ease;
	-webkit-animation:titleIn 1s .2s ease
}
.warm-label {
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	width:90%;
	font-size:12px;
	font-size:.75rem;
	bottom:-15px;
	bottom:-.9375rem;
	color:red
}
.index .static{
	transform: rotate(90deg);
	z-index: 0;
}
body .flatpickr-calendar {
	top:0;
	left:0
}

@keyframes wobble{
0%{transform:translate3d(0%,0,0)}
15%{transform:translate3d(-25%,0,0) rotate(-5deg)}
30%{transform:translate3d(20%,0,0) rotate(3deg)}
45%{transform:translate3d(-15%,0,0) rotate(-3deg)}
60%{transform:translate3d(10%,0,0) rotate(2deg)}
75%{transform:translate3d(-5%,0,0) rotate(-1deg)}
100%{transform:translate3d(0%,0,0)}
}
@keyframes titleIn {
	from {
	-webkit-transform:scale(1,.1) rotateX(0);
	transform:scale(1,.1) rotateX(0)
}
to {
	-webkit-transform:scale(1,1) rotateX(360deg);
	transform:scale(1,1) rotateX(360deg);
}
}
@keyframes load {
	from {
	-webkit-transform:rotate(0) translateZ(0);
	transform:rotate(0) translateZ(0);
}
to {
	-webkit-transform:rotate(360deg) translateZ(0);
	transform:rotate(360deg) translateZ(0);
}
}
@media only screen and (max-width:447px) {
	.banner-title {
		font-size:1.75rem
	}
	.banner-span {
		font-size:.875rem
	}
}
@media only screen and (max-width:768px) {
	header {
		display:block
	}

}
@media only screen and (min-width:768px) {
	.head-guide {
		margin-left:-100%
	}
	.nav-ul {
		margin-left:0
	}
}
@media only screen and (min-width:360px) {
	.login-data,.repair-data {
		width:20rem
	}
}
@media only screen and (max-width:320px) {
	.login-data,.repair-data {
		width:18.75rem
	}
	.banner-title {
		font-size:1.55rem
	}
}
@media only screen and (max-width:480px) {
	.index{
		overflow-x:hidden; 
		width: 100%;
	}
	.banner{
		position: absolute;
		transform-origin:bottom right;
		transform: rotate(0deg) translateZ(0);
		z-index: 1;
		transition: all 1s cubic-bezier(.175, .885, .32, 1.275);
	}
	.body{
		width: 100%;
		overflow: hidden;
	}
}