html,ul,p{margin:0;padding:0;}
ul{list-style: none;width: 100%;}
a{text-decoration: none;}
body{margin:0 auto;}
textarea{resize: none;line-height: 1.5625rem;}
/**select**/
.select-ul{height:0;transition:all .3s ease;-webkit-transition:all .3s ease;overflow:hidden;position: absolute;left:50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);text-align: center;background-color: #fff;font-size: .8125rem;border-radius: .25rem;z-index: 999;}
.select-ul li{padding:.25rem 0;cursor: pointer;}
.select-ul li:not(:last-child){border-bottom: .0625rem solid #ccc;}
/**select**/
/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Microsoft YaHei';
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Microsoft YaHei';
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Microsoft YaHei';
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Microsoft YaHei';
}
header{
	height: 2.8125rem;
	width: 100%;
	/* background-color: #0099CC; */
	line-height: 2.8125rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}
/* loading */
.loading{
	height: 3.0rem;
	width: 3.0rem;
	background: url('./img/loading.png') center center;
	background-size: cover;
	margin: 3% auto;
	animation: load .2s ease infinite; 
	-webkit-animation: load .5s linear infinite; 
}
/* 导航栏 */
.nav-ul{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -100%;
	height: 100%;
	transition: all .3s ease;
	-webkit-transition: all .3s .5s ease;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 1;
}
.nav-ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.nav-ul li a{
	color: #fff;
	font-size: .875rem;
}
.repair-data{
	width:28.125rem;
	margin-top: 4%;
	margin-left:auto;
	margin-right: auto;
	border:.0625rem solid #ccc;
	border-radius: .5rem;
	color: #4d6076;
	padding-bottom: .625rem ;
	padding-top: .625rem;
}
.menu-icon{
	position: relative;
	width: 1.5625rem;
	height: .9375rem;
	margin-left: 2%;
	display: inline-block;
	border-bottom: .0625rem solid #fff;
	border-top: .0625rem solid #fff;
	transition: all .3s ease-in-out;
}
.menu-icon:before{
	content: "";
	position: absolute;
	height: .0625rem;
	width: 100%;
	background-color: #FFF;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%)
}
/* body */
.body{
	position: relative;
	overflow: hidden;
}
.body-mask-gray{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fafafa;
	z-index: 99999999999999999;
}
/* banner */
.banner{
	width: 100%;
	height: 800px;
	background: url('./img/8.jpg') no-repeat center center;
	position: relative;
	background-size: cover;
}
.banner-exp{
	color: #fff;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.125rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.banner-title{
	font-size: 2.5rem;
}
.banner-span{
	text-align: right;
	font-size: 1.25rem;
}
.title-in{
	animation: titleIn 1s .2s ease;
	-webkit-animation: titleIn 1s .2s ease;
}
/* 报修 */
.warm-label{
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 90%;
	font-size: .75rem;
	bottom: -.9375rem;
	color: #ff0000;
}
body .flatpickr-calendar{
	top: 0;
	left: 0;
}
/* 动画效果 */
@-webkit-keyframes titleIn {
	from { -webkit-transform: scale(1,.1) rotateX(0) }
	to {  -webkit-transform: scale(1,1) rotateX(360deg)}
}
@-moz-keyframes titleIn {
	from { -moz-transform: scale(1,.1) rotateX(0) }
	to {  -moz-transform: scale(1,1) rotateX(360deg)}
}
@keyframes titleIn {
	from { transform: scale(1,.1) rotateX(0deg) }
	to {  transform: scale(1,1) rotateX(360deg) }
}
@-webkit-keyframes load {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes load {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@keyframes load {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
/* 媒体查询 */
@media only screen and (max-width: 447px){
	.banner-title{
		font-size: 1.75rem;
	}
	.banner-span{
		font-size: 0.875rem;
	}
}
@media only screen and (max-width: 768px) {
	header{
		display: block;
	}
}
@media only screen and (min-width:768px){
	.head-guide{
		margin-left: -100%;
	}
	.nav-ul{
		margin-left: 0;
	}
}
@media only screen and (min-width: 360px) {
	.repair-data,.login-data{
		width: 20rem;
	}
}
@media only screen and (max-width: 320px) {
	.repair-data,.login-data{
		width: 18.75rem;
	}
	.banner-title{
		font-size: 1.55rem;
	}
}