<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 适应移动端start -->
	<!-- 视口标签 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- 设置苹果工具栏颜色 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="telephone=no" />
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
		<!-- 适应移动端end -->
	<title>Hi,I am CPA</title>
	<link rel="stylesheet" href="../views/index/style.css">
	<link rel="stylesheet" href="../views/system/style.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/flatpickr/2.2.3/flatpickr.min.css">
	<link rel="stylesheet" href="../views/index/public.css">
</head>
<body>
	<header>
		<div class="head-guide">
			<a href="#" class="menu-icon"></a>
		</div>
		<nav id="nav-head">
			<ul class="nav-ul">
				<li>
					<a href="#">我们</a>
				</li>
				<li>
					<a href="#">能</a>
				</li>
				<li>
					<a href="#">为你</a>
				</li>
				<li>
					<a href="#">做什么</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="repair-row">
		<div class="repair-data">
			<div class="login-title txc">
				<h3 v-bind:class="{ warm:warm }">{{ title }}</h3>
			</div>
			<form>
				<div class="input-group vertical-input">
					<label class="input-label">学号：</label>
					<input type="text" class="input-input" name="no" placeholder="11位数字，不是12">
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<label class="input-label">名字：</label>
					<input type="text" class="input-input name" name="name" placeholder="写外号写真名都可以">
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<label class="input-label">手机号码：</label>
					<input type="text" class="input-input" name="tel" placeholder="你的手机号码，是11位">
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<label class="input-label">问题类型：</label>
					<input type="text" class="input-input select" name="type" readonly="readonly" placeholder="你的电脑怎么了？">
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<label class="input-label">宿舍：</label>
					<input type="text" class="input-input" name="room" list="floor" placeholder="你宿舍在哪，写清楚">
					<datalist id="floor">
						<option value="珠江公寓A区"></option>
						<option value="珠江公寓B区"></option>
						<option value="珠江公寓C区"></option>
						<option value="珠江公寓D区"></option>
						<option value="饭堂"></option>
						<option value="饭堂(珠江公寓)"></option>
						<option value="足球场"></option>
						<option value="篮球场"></option>
						<option value="网球场"></option>
						<option value="公共区域"></option>
						<option value="行政楼(原行政办公楼)"></option>
						<option value="学术交流中心(原3号楼)"></option>
						<option value="图书錧(原6号宿舍楼)"></option>
						<option value="1号教学楼(原一号教学楼)"></option>
						<option value="2号教学楼(原培训楼)"></option>
						<option value="3号教学楼(原二号教学楼)"></option>
						<option value="2号实训楼"></option>
						<option value="3号实训楼(原综合楼)"></option>
						<option value="4号实训楼(原2号实训楼)"></option>
						<option value="5号实训楼(原1号实训楼)"></option>
						<option value="6号实训楼(原3号实训楼)"></option>
						<option value="7号实训楼(原4号实训楼)"></option>
						<option value="8号实训楼(原5号实训楼)1"></option>
						<option value="9号实训楼(原14号楼)"></option>
						<option value="1号宿舍楼(原7号楼)"></option>
						<option value="2号宿舍楼(原8号楼)"></option>
						<option value="3号宿舍楼(原9号楼)"></option>
						<option value="4号宿舍楼(原10号楼)"></option>
						<option value="5号宿舍楼"></option>
						<option value="6号宿舍楼(原11号楼"></option>
						<option value="7号宿舍楼(12号楼)"></option>
						<option value="8号宿舍楼(原13号楼)"></option>
						<option value="1号实训楼"></option>
					</datalist>
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<label class="input-label">预约时间：</label>
					<input type="text" class="input-input" id="data-choose" name="date" placeholder="比如你什么时候有空">
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<label class="input-label">描述下问题：</label>
					<textarea class="input-input" name="exp" placeholder="如果你知道你电脑怎么了，简单说下"></textarea>
					<label class="warm-label"></label>
				</div>
				<div class="input-group vertical-input">
					<input type="hidden" class="input-input" value="0" name="status">
				</div>
				<div class="input-group row">
					<a href="javascript:void(0)" class="txc btn btn-primary col-12" id="save">提交</a>
				</div>
			</form>
		</div>
	</div>
	<script src="https://cdn.staticfile.org/flatpickr/2.2.3/flatpickr.min.js"></script>
	<script src="https://cdn.staticfile.org/flatpickr/2.2.3/l10n/zh.js"></script>
	<script src="../views/index/index.js"></script>
	<script src="../views/index/public.js"></script>
</body>
</html>