<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 适应移动端start -->
	<!-- 视口标签 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- 设置苹果工具栏颜色 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="telephone=no" />
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
		<!-- 适应移动端end -->
	<title>白云东区计协</title>
	<link rel="stylesheet" href="../views/index/style.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/flatpickr/2.2.3/flatpickr.min.css">
	<link rel="stylesheet" href="../views/index/public.css">
	<link rel="stylesheet" href="../views/system/style.css">
	<script src="../views/index/public.js"></script>
</head>
<body class="index">
	<div class="alert menu-mask" >
		<div class="alert" onclick="closeMenu()"></div>
		<div class="menu-row">
			<ul class="menu-ul">
				<li class="menu-li">
					<a href="javascript:void(0)">
						<img src="./views/index/img/home.png" alt="首页">
						<p>首页</p>
						<span>这是刚才的页面</span>
					</a>
				</li>
				<li class="menu-li">
					<a href="javascript:void(0)">
						<img src="./views/index/img/tool.png" alt="首页">
						<p>教程</p>
						<span>有些东西可以教你</span>
					</a>
				</li>
				<li class="menu-li">
					<a href="javascript:void(0)">
						<img src="./views/index/img/pair.png" alt="首页">
						<p>报修</p>
						<span>需要报修点这里</span>
					</a>
				</li>
				<li class="menu-li">
					<a href="javascript:void(0)">
						<img src="./views/index/img/light.png" alt="首页">
						<p>关于</p>
						<span>计协?凌飞?都是我们</span>
					</a>
				</li>
				<li class="menu-li">
					<a href="javascript:void(0)">
						<img src="./views/index/img/add.png" alt="首页">
						<p>加入我们</p>
						<span>约吗？</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<header>
		<div href="#" class="menu-icon">
			<div class="icon-line-row">
				<i class="icon-line"></i>
				<i class="icon-line"></i>
				<i class="icon-line"></i>
			</div>
		</div>
		<nav id="nav-head">
			<ul class="nav-ul">
				<li>
					<a href="#">我们</a>
				</li>
				<li>
					<a href="#">能</a>
				</li>
				<li>
					<a href="#">为你</a>
				</li>
				<li>
					<a href="#">做什么</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="alert index-mask">
		<div class="loading"></div>
	</div>
	<div class="body">
		<div class="aside">
			<ul class="aside-ul">
				<li class="aside-li">
					<a href="javascript:void(0)" class="aside-a">计算机硬件协会</a>
				</li>
				<li class="aside-li">
					<a href="javascript:void(0)" class="aside-a">教程</a>
				</li>
				<li class="aside-li">
					<a href="javascript:void(0)" class="aside-a">报修</a>
				</li>
				<li class="aside-li">
					<a href="javascript:void(0)" class="aside-a">关于计协的那些事</a>
				</li>
				<li class="aside-li">
					<a href="javascript:void(0)" class="aside-a">加入我们</a>
				</li>
			</ul>
		</div>
		<div class="banner">
			<div class="first">
				<div class="banner-exp white">
					<p class="banner-title txc">你 可 能 需 要 什 么 帮 助</p>
					<p class="banner-span">还&nbsp;&nbsp;是&nbsp;&nbsp;你&nbsp;&nbsp;只&nbsp;&nbsp;想&nbsp;&nbsp;了&nbsp;&nbsp;解&nbsp;&nbsp;我&nbsp;&nbsp;们&nbsp;&nbsp;？</p>
				</div>
				<div class="logo">
					<img src="./views/index/img/logo.png" alt="logo" width="100%">
				</div>
				<div class="next-tip white center">
					<p class="mediun-font">最专业的维护团队</p>
					<p class="little-font">需求报修?还是查阅教程？</p>
					<div class="next-icon">
						<p class="next-icon-line"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="banner-exp second">
				<div class="second-row second-left">
					<div class="second-icon"></div>
				</div>
				<div class="second-row second-right">
					<div class="study-row">
						<h1 class="font-color">你可以尝试自己解决下问题</h1>
						<p class="study" data="1.jpg">获取IP信息失败，请检查静态配置或者动态获取IP地址</p>
						<p class="study">无法启动DHCP Client服务，请手动启动该服务</p>
						<p class="study">无法找到网卡或系统未完成网卡初始化操作</p>
						<p class="study">知道密码的情况下，教你如何修改锐捷密码</p>
						<p class="study">网卡网关配置有误，请修改后，再进行认证</p>
						<p class="study">网卡没有连接上，请检查网卡连接</p>
						<p class="study">把普通路由器当做交换机使用</p>
						<p class="study">能上QQ，却不打开网页</p>
						<p class="study">用户MAC网卡绑定错误</p>
						<p class="study">客户端已经在运行</p>
						<p class="study">锐捷自动断网教程</p>
					</div>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="repair-row">
				<div class="txc repair-title">
					<h3>报修申请</h3>
					<p>你应该填写正确并尽量保证内容详细</p>
				</div>
				<div class="repair-data">
					<form>
						<div class="input-group vertical-input">
							<label class="input-label">学号：</label>
							<input type="text" class="input-input row" name="no" placeholder="可能11位数字，或者其它">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">名字：</label>
							<input type="text" class="input-input row name" name="name" placeholder="写外号写真名都可以">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">手机号码：</label>
							<input type="text" class="input-input row" name="tel" placeholder="你的手机号码，是11位">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">问题类型：</label>
							<input type="text" class="input-input row select" name="type" readonly="readonly" placeholder="你的电脑怎么了？">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">楼栋：</label>
							<input type="text" class="input-input row room" name="room" readonly="readonly" placeholder="你住在哪栋楼，写清楚">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">楼层以及宿舍号：</label>
							<input type="text" class="input-input row house" name="house" placeholder="写清楚你的楼层和房间号吧">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">预约时间：</label>
							<input type="text" class="input-input row" id="data-choose" name="date" placeholder="比如你什么时候有空">
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input">
							<label class="input-label">描述下问题：</label>
							<textarea class="input-input row" name="exp" placeholder="如果你知道你电脑怎么了，简单说下"></textarea>
							<label class="warm-label"></label>
						</div>
						<div class="input-group vertical-input none" hidden="hidden">
							<label class="warm-label"></label>
							<input type="hidden" class="input-input row" value="1" name="status">
						</div>
						<div class="input-group vertical-input none">
							<label class="warm-label"></label>
							<input type="hidden" class="input-input row" value="1" name="admin">
						</div>
						<div class="input-group row">
							<a href="javascript:void(0)" class="txc btn btn-primary col-12" id="save">提交</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="banner-exp four">
				<div class="second-row second-left">
					<div class="desk banner-exp">
						<img src="./views/index/img/clock.png" alt="凌飞科技" class="clock">
					</div>
				</div>
				<div class="second-row second-right">
					<div class="study-row">
						<div class="lf-exp hid">
							<div class="lf-logo fl">
								<img src="./views/index/img/lf.png" alt="凌飞科技">
							</div>
							<div class="lf-name fl white">
								<p class="lf-title">凌飞科技有限公司</p>
								<p>Ling Fei Technology Co., Ltd.</p>
							</div>
						</div>
						<div class="lf-p white">
							<p>简介：凌飞科技有限公司，简称凌飞科技，是隶属于广州白云工商技师学院计算机硬件协会旗下的一个盈利性、为客户提供电脑维修升级、华硕官方售后中心的一体化IT服务公司.</p>
							<p>凌飞理念：服务至上、卓越品质、享受成果.</p>
							<p>指导老师：刘红兵，网络工程师、网络管理高级技师、国家级高级考评员.</p>
							<p>合作企业：广州市惠迈电脑有限公司，广州恒定科技有限公司.</p>
							<p>地址：广州白云工商高级技工学校（东校区）校医室旁五号楼左数第三间。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="join-row">
				<div class="join banner-exp">
					<ul class="join-ul">
						<li class="join-li bule">
							<p class="banner-title">技术部</p>
							<div class="join-img">
								<img src="./views/index/img/tec.png" alt="">
							</div>
							<div class="join-text">
								<p>
								校内师生的各种电脑问题都是由这一个重要部门解决，然并卵。主要可以在你的朋友或是同学们面前秀操作，秀技术。重点还能上女生宿舍里秀！从此脱离单身有木有！一年解决2700台电脑的神秘部门等你来揭秘！
								</p>
							</div>
						</li>
						<li class="join-li bai">
							<p class="banner-title">外联部</p>
							<div class="join-img">
								<img src="./views/index/img/wai.png" alt="">
							</div>
							<div class="join-text">
								<p>
									主持着协会的外交和宣传工作，向外赞助商拉取各活动的运营经费，策划各种娱乐活动。让你体验企业合作的商业互利关系与海报宣传设计能力，广东女子学院都曾与我们联谊。口才?设计?策划?大世面?那都不是事儿！
								</p>
							</div>
						</li>
						<li class="join-li bule">
							<p class="banner-title">秘书部</p>
							<div class="join-img">
								<img src="./views/index/img/mi.png" alt="">
							</div>
							<div class="join-text">
								<p>
									组织协会活动的举办方针，做好内部的工作，如会议考勤及登记、活动总结文档等。掌管协会的财务经济以及协会各大内部资料！秘书妹子多，你懂得！
								</p>
							</div>
						</li>
						<li class="join-li bai">
							<p class="banner-title">后勤部</p>
							<div class="join-img">
								<img src="./views/index/img/hou.png" alt="">
							</div>
							<div class="join-text">
								<p>
									负责协会各项数据的统计和整理,负责向西区网络中心汇报近期网络情况！
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="../views/index/load.js"></script>
	<script src="https://cdn.staticfile.org/flatpickr/2.2.3/flatpickr.min.js"></script>
	<script src="https://cdn.staticfile.org/flatpickr/2.2.3/l10n/zh.js"></script>
	<script src="../views/index/index.js"></script>
	<script src="../views/index/rotary.js"></script>
</body>
</html>