<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 适应移动端start -->
	<!-- 视口标签 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- 设置苹果工具栏颜色 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="telephone=no" />
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
		<!-- 适应移动端end -->
	<title>订单状态查询</title>
	<link rel="stylesheet" href="../views/index/style.css">
	<link rel="stylesheet" href="../views/index/public.css">
	<link rel="stylesheet" href="../views/system/style.css">
	<script src="../views/index/public.js"></script>
</head>
<body>
	<div class="alert-content query">
		<div class="query-search">
			<div class="input-group vertical-input">
				<label class="input-label ">姓名：</label>
				<input type="text" class="input-input large-input" name="name" placeholder="报修人的姓名" id="query-name">
				<label class="warm-label"></label>
			</div>
			<div class="input-group vertical-input">
				<label class="input-label">手机号码：</label>
				<input type="text" name="tel" class="input-input large-input" placeholder="报修时填写的手机号码" id="query-tel">
				<label class="warm-label"></label>
			</div>
			<div class="input-group">
				<a href="javascript:void(0)" class="txc btn btn-primary col-12" id="query">提交</a>
			</div>
		</div>
		<div class="query-data none">
			<table class="table">
				<thead>
					<th>
						名字
					</th>
					<th>
						手机号码
					</th>
					<th>
						状态
					</th>
					<th>
						操作
					</th>
				</thead>
				<tbody class="query-tr data-tbody">
			
				</tbody>
			</table>
		</div>
	</div>

	<script src="../views/index/query.js"></script>
</body>
</html>