body{background-color: #fafafa;}
ul{list-style-type: none;}
a{text-decoration: none;}
.app{width: 100%;min-height: 100%;}
.txc{text-align: center;}
.none{display: none;}
.line{height:2.1875rem;margin-bottom: .625rem;width: 100%;overflow: hidden;line-height: 2.1875rem;}
html{font-family: "Microsoft Yahei";}
.input-group{position:relative;width: 100%;line-height:2.1875;margin-bottom: .625rem;padding-bottom: .625rem;}
.vertical-input .input-label,.vertical-input .input-input,.flatpickr-mobile{width: 90%;margin:0 auto;text-align: left;display:block;height: 2.1875rem;}
.hoz-input{position:relative;height: 2.1875rem;float:left;line-height: 2.1875rem;margin-right: .3125rem;}
.flatpickr-input{border-radius: .25rem;border:.0625rem solid #ccc;text-indent: .5rem;}
.large-input{width: 12.5rem;}
.hoz-input .input-input,.hoz-input .flatpickr-input{height: 80%;}
.medium-input{width: 9.375rem;}
.small-input{width: 7.5rem;}
.input-label{vertical-align: middle;font-size: .875rem;}
.input-input{border:.0625rem solid #ccc;padding: 0;border-radius: .3125rem;text-indent: .625rem;background-color: #FFF;}
input[type="text"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="mail"]:focus,textarea:focus{outline: .0625rem solid #6a99b7;border:.0625rem solid #6a99b7;}
.input-checkbox{display: none;opacity: 0;margin-left: 1000%;}
.check-label{margin-left:calc(5% + 1.5625rem);font-size: .75rem;position: relative;vertical-align: middle;cursor: pointer;}
.check-label:before{content:"";position: absolute;height: .9375rem;width: .9375rem;border:.0625rem solid #ccc;top: -.0625rem;left:-1.5625rem;}
.check-label:after{content:"\221A";position: absolute;top: -.375rem;left:-1.25rem;display: none;}
.input-checkbox:checked + .check-label:after{display: block;}
.row{width: 90%;margin-left: auto;margin-right: auto;}
.btn{padding:.3125rem 0;color: #FFF;font-size: .8125rem;}
.btn-primary{background-color: #428bca;border: .0625rem solid #357ebd;}
.btn-danger{background-color: #d70941;border: .0625rem solid #d70941;}
.pdtr{padding-left:.625rem;padding-right: .625rem;}
.col-12{width: 100%;display: block;position: relative;}
.fr{float: right;}
.fl{float: left;}
.mr{margin-right: .625rem;float: left;}
